services:
  embedded:
    build:
      context: .
      dockerfile: apps/main/Dockerfile
    devices:
      - "/dev/gpiomem:/dev/gpiomem"
      - "/dev/video0:/dev/video0"
    volumes:
      - ./data/models:/app/models
